@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.site-header {
    .navbar {
        font-family: Fira Sans;

        &.bg-dark {
            background-color: #262626 !important;
        }

        .navbar-brand {
            font-size: 1.5rem;
        }
    }
}

// body {
//     font-family: Noto Serif;
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: Noto Sans;
// }